body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: blue;
  text-align: center;
}

.title {
  margin-top: 27px;
  color: #2c3e50;
}

.card {
  background: rgb(63, 222, 65);
  width: 420px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
